
.Change-main-container-class {
  width: 970px;
  height: 734px;
  margin: auto;

  /* background-color: #349fdd; */
}
.Change-main-class {
  float: left;
  height: 8%;
  width: 100%;
  /* background-color: aqua; */
  border-bottom: solid 4px #fb4d4e;
}
.Change-info-nav-container {
  margin-left: 3%;
  margin-top: 1%;
  width: 45%;
  float: left;
}

.Mypage-rewrite-btn-container {
  width: 100%;
  height: 25%;
  /* background-color: #398588; */
}
.Mypage-rewrite-btn-class {
  width: 20%;
  height: 100%;
  margin: auto;
}

.Change-info-footer-container {
  width: 100%;
  float: left;
  height: 35%;
  margin-top: 5%;
  /* background-color: rgb(0, 195, 255); */
}

.Change-info-goback-bntimg-class {
  margin-left: 45%;
  width: 40px;
  height: 40px;
  float: left;
  margin-top: 1%;
}
.Change-info-nav-goback {
  width: 100%;
  height: 100%;
  float: left;
}
.Change-info-nickname {
  font-size: 22px;
  height: auto;
  width: 150px;
  margin-left: 33px;
  background-color: #f39d9d;
  border-radius: 8px;
  text-align: center;

}
.nickname-change {
  padding-left: 35%;
  padding-top: 15px;
}

.Mypage-profile-footer-upload {
  padding-left: 28%;
  padding-top: 15px;
  width: 50%;
  height: 40px;
}
.Change-info-profile{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid coral;
  overflow: hidden;
  margin: auto;
 
}
.Change-info-profilecontainer{
float: left;
  width: 100%;
  height: 45%;
  margin-top: 5%;
}
.Change-img-userimg{

  width: 100%;
    float: left;

}
.Change-info-nicknamerule{

  width: 40%;
  margin-left: 2%;
  
  
}
.Change-info-samecheckbtn{
  background-color: #fb4d4e;
  width: 12%;
  height: 30px;
  color: white;
  text-align: center;
  border-radius: 5px;
  float: right;
  margin-right: 44%;
  cursor: pointer;
}
.Change-info-bigbig{
  width: 100%;
  margin-top: 1.5%;
}
.Change-info-big{
  width: 20%;
  margin: auto;
  text-align: left;

}
.Change-info-usericon-class {
  width: 32px;
  height: 40px;
  /* margin-left: 40%; */

  float: left;
}