.Directed-recard-container {
  width: 87%;
  height: 86%;
  /* background-color: lightpink; */
  border: solid 2px #fb4d4e;
  border-radius: 30px 30px 30px 30px;
  float: left;

  margin-left: 6%;
  margin-top: 3%;
  cursor: pointer;
}
.Directed-card-nav-container {
  margin-top: 2%;
  width: 90%;
  height: 25%;
  margin-left: 5%;
  margin-right: 5%;
  /* background-color: rgba(0, 255, 255, 0.103); */
  float: left;
}
.Directed-card-nav-usericon-class {
  width: 10%;

  height: 100%;
  /* background-color: burlywood; */
  float: left;
}
.Directed-card-nav-username-class {
  float: left;
  /* background-color: cadetblue; */
  height: 100%;
  width: 60%;
  margin-left: 2%;
}
.Directed-card-nav-userstatus-container {
  float: left;
  width: 27%;
  height: 100%;
  /* background-color: darkgreen; */
}
.Directed-card-nav-userstatus-class {
  width: 80%;
  height: 80%;
  margin-top: 10%;
  margin-left: 5%;
  background-color: #fed4d4;
  border-radius: 8px 8px 8px 8px;
}
.Directed-card-nav-userstatus-icon {
  margin-top: 13%;
  width: 40%;
  /* background-color: aqua; */
  float: left;
}
.Directed-card-nav-userstatus-p-class {
  float: left;
  font-size: 11px;
  /* background-color: bisque; */
}
.Directed-card-content-container {
  float: left;
  width: 80%;
  height: 50%;
  margin-left: 10%;
  margin-right: 10%;
  /* background-color: darksalmon; */
}
.Directed-card-footer-container {
  float: left;
  width: 90%;
  height: 23%;
  margin-left: 5%;
  margin-right: 5%;
  /* background-color: rgba(0, 255, 255, 0.418); */
}
.Directed-img-userimg {
  width: 100%;
  float: left;
  /* background-color: aliceblue; */

  margin-top: 50%;
}
.Directed-card-content-class {
  font-size: 15px;
  text-align: center;
}
.Directed-card-footer-locaion-container {
  width: 7%;
  height: 100%;
  /* background-color: brown; */
  float: left;
}
.Directed-card-footer-locationiconimg {
  margin-top: 60%;
  width: 100%;
  height: 50%;
  /* background-color: antiquewhite; */
}

.Directed-card-footer-locationname {
  float: left;
  width: 25%;
  height: 70%;
  margin-bottom: 20%;


}
.Directed-card-footer-locationname-si {
  float: left;
  width: 65px;
  height: 15px;
  font-size: 2px;
  position: absolute;
  text-align: center;
  
}
.Directed-card-footer-locationname-gu {
  float: left;
  width: 65px;
  height: 15px;

  font-size: 6px;
  position: absolute;
  margin-top: 20px;
  text-align: center;
}
.Directed-card-footer-bloodtype-container {
  float: left;
  width: 30%;
  height: 100%;
  /* background-color: blueviolet; */
}
.Directed-card-footer-bloodtype-class {
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 0%;
  border: none;

  background-color: #fed4d4;
  border-radius: 8px 8px 8px 8px;
}
.Directed-card-footer-bloodtype-p-class {
  font-size: 15px;
  width: 80%;
  height: 95%;
  margin: auto;
  padding-top: 10%;
  text-align: center;
  color: #ff2d2d;
  /* background-color: aliceblue; */
}
.Directed-card-footer-date-container {
  float: left;
  width: 38%;
  height: 100%;
  /* background-color: blue; */
}
.Directed-card-footer-date-class {
  float: left;
  width: 80%;
  height: 100%;
  /* background-color: #fb4d4e; */
  margin-left: 20%;
}
.Directed-card-footer-date-p-class {
  font-size: 12px;
  margin-left: 0%;
  margin-top: 13%;
}
