.Menu-left-nav-text{

    /* background-color: blue; */
    float: left;
    color: rgb(0, 0, 0);
    width: 400px;
    height: 46px;

   
}
.Menu-left-nav-img-class{
    float: left;
    width: 40px;
 

}
/* .te{
    width: 20%;
    height: 90%;
    background-color: blueviolet;
    margin-bottom: 30px;
} */
.Menu-left-nav-h1-class{
  
    text-align: left;
    width: 280px;
    float: left;
    height: 40px;
    margin-left: 10px;
    font-size: 38px;
    line-height:1
   
}
.backbtn{

    background-color: aqua;
   float: right;
 
    height: 100%;
}