/* .Main-rank-text-text-class{
    
    background-color: aqua;
    width: 500px;
    margin: auto;

   
}
.Main-rank-text-p-class{

    background-color: bisque;
    width :auto;
    margin: auto;

    color: white;
    font-size: 1.4em;
} */
.Main-rank-text-p-class{

    color: white;
    font-size: 1.3em;
}
.Main-rank-text-2p-class{

    color: white;
    font-size: 1.0em;
}
.Main-rank-text-p-1-class{

    color: brown;
    font-size: 1.3em;

}