.Notice-main-container {
  /* background-color: rgb(129, 129, 179); */
  width: 970px;
  height: 734px;
  margin: auto;
}
.Notice-main-nav-container {
  float: left;
  height: 8%;
  width: 100%;
  /* background-color: aqua; */
  border-bottom: solid 4px #fb4d4e;
}
.Notice-main-nav-class {
  margin-left: 3%;
  margin-top: 1%;
  width: 45%;
  float: left;
  /* background-color: antiquewhite; */
}
.Notice-main-nav-search-class {
  float: left;
  /* background-color: rgb(120, 120, 180); */
  height: 100%;
  width: 17.5%;
}

.Notice-main-input {
  margin-top: 16px;
  height: 25px;
  width: 120px;
  float: left;
  margin-left: 2px;
  border: solid 2px rgb(112, 64, 64);
  vertical-align: middle;
}
.Notice-main-nav-write-class {
  float: left;
  width: 8%;
  height: 100%;
  /* background-color: cornflowerblue; */
}
.Notice-main-nav-writeicon-class {
  width: 35px;
  margin-left: 400px;
  margin-top: 10px;
  /* background-color: coral; */
}
.Notice-main-cardmain-container {
  /* float: left; */

  width: 75%;
  height: 25%;
  /* display: flex; */
  flex-wrap: wrap;
  /* margin-left: 5%; */
  /* margin-right: 5%; */
  margin-top: 2%;
  margin: auto;
  /* background-color: aqua; */
}
.Notice-inquire-card-context-img-class {
  width: 100%;
  height: 10%;
  /* background-color: #fb4d4e; */
}
.Notice-inquire-cardset-img {
  width: 200px;

  background-color: rgb(63, 158, 158);
}
.Notice-inquire-card-context-margin {
  width: 200px;
  margin: auto;
}
