.Notice-write-container {
  /* background-color: rgb(129, 129, 179); */
  width: 970px;
  height: 734px;
  margin: auto;

  /* background-color: aqua; */
}
.Notice-write-nav-container {
  float: left;
  height: 8%;
  width: 100%;
  /* background-color: aqua; */
  border-bottom: solid 4px #fb4d4e;
  /* background-color: rgb(12, 74, 128); */
}
.Notice-write-nav-class {
  margin-left: 3%;
  margin-top: 1%;
  width: 89%;
  float: left;
  /* background-color: antiquewhite; */
}
.Notice-write-content-container {
  width: 100%;
  height: 92%;
  float: left;
  /* background-color: blue; */
}
.Notice-write-content-class {
  margin: auto;
  /* background-color: rgb(155, 155, 155); */
  width: 80%;
  height: 90%;
  /* height: 70%; */
  padding-top: 3%;
}

.Notice-write-goback-bntimg-class {
  margin-top: 8%;
  margin-left: 10%;
  width: 40px;
  height: 40px;
  float: left;
  /* background-color: blueviolet; */
}
.Notice-write-nav-goback {
  width: 8%;
  height: 100%;
  /* background-color: coral; */
  float: left;
}
.Notice-write-card-class {
  width: 100%;
  float: left;
  height: auto;
  /* background-color: darkgoldenrod; */
  border: 2px solid #fb4d4e;
  border-radius: 50px 50px 50px 50px;
}
.Notice-write-card-total {
  margin: auto;
  width: 90%;
}
.Notice-write-card-nav-class {
  width: 100%;
  height: 50px;
  border-bottom: solid 4px #fb4d4e;
  /* background-color: rgba(0, 0, 255, 0.075); */
}
.Notice-write-card-title-class {
  float: left;
  margin-top: 3%;
  width: 65%;
  /* background-color: aqua; */
  font-size: 16px;
}
.Notice-write-card-data-class {
  margin-left: 1%;
  float: left;
  margin-top: 3%;
  width: 32%;
  height: 50%;
  /* background-color: rgb(13, 122, 86); */
  font-size: 16px;
}

.Notice-write-card-context-class {
  padding-top: 1%;

  margin: auto;
  height: auto;
  width: 100%;
  /* background-color: rgb(0, 255, 13); */
  font-size: 16px;
}

.Notice-write-card-footer-class {
  height: 0px;
  /* background-color: blueviolet; */
}

.Notice-write-footer-container {
  width: 100%;
  float: left;
  height: 40%;
  margin-top: 2%;
  /* background-color: rgb(0, 195, 255); */
}

.Notice-inquire-footer-mypost {
  width: 100%;
  height: 15%;
  /* background-color: #941515; */
  font-size: 17px;
}
.Notice-inquire-footer-repost {
  width: 8%;
  /* background-color: rgb(158, 93, 8); */
  float: right;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.Notice-inquire-footer-delete {
  width: 8%;
  /* background-color: rgb(190, 182, 170); */
  float: right;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.Notice-write-card-context-input {
  width: 100%;
  height: 170px;
  /* background-color: #fb4d4e; */
}

input[type="text"] {
  /* background-color: rgb(0, 4, 255); */
  width: 100%;
  border: 1px solid #fb4d4e;
  text-align: center;
}
.Notice-write-card-wow {
  font-size: 20px;
  /* background-color: rgba(240, 248, 255, 0.041); */
  width: 25px;
  height: 25px;
  text-align: center;
  float: left;
  margin-left: 3%;
}

.Notice-write-footer-upload-container {
  width: 100%;
  padding-left: 3%;

  /* background-color: #fb4d4e; */
}
.Notice-write-footer-upload {
  width: 55%;
  margin: auto;
  /* background-color: #e0c3c3; */
}
.Notice-write-footer-givecount-container {
  width: 100%;
  height: 10%;
  /* background-color: #e6c4c4; */
}
.Notice-write-footer-givecount {
  width: 33%;
  height: 100%;
  /* background-color: #61fb4d; */
  margin: auto;
}
.Notice-write-footer-givecounttext {
  width: 60%;
  float: left;
  height: 100%;
  margin-left: 4%;
  /* background-color: aquamarine; */
}
.Notice-write-footer-givecountimg {
  width: 22px;
  /* background-color: azure; */
  float: left;
}
.Notice-write-footer-count-container {
  width: 23%;
  /* background-color: rgba(142, 173, 0, 0.678); */
  float: left;
  text-align: center;
  font-size: 16px;
}
.Notice-write-footer-bloodtype-container {
  width: 100%;
  height: 10%;
  /* background-color: #239115; */
}
.Notice-write-footer-bloodtype-class {
  width: 40%;
  height: 100%;
  /* background-color: #883939; */
  margin: auto;
}
.Notice-write-footer-bloodtypetext {
  float: left;
  width: 50%;
  height: 100%;
  /* background-color: #e6c4c4; */
}
.Notice-write-footer-bloodtypeinput {
  float: left;
  width: 35%;
}
.Notice-write-footer-location-container {
  width: 100%;
  /* background-color: #fb4d4e; */
  height: 10%;
}
.Notice-write-footer-locatin-class {
  width: 51%;
  height: 100%;
  /* background-color: #0b4e03; */
  margin: auto;
}
.Notice-write-footer-locationtext {
  width: 42%;
  /* background-color: #e0c3c3; */
  height: 100%;
  float: left;
}
.Notice-write-footer-locationselect {
  float: left;
  width: 50%;
  height: auto;
  margin-bottom: 10%;
  /* background-color: #61fb4d; */
  display: flex;
}

.Notice-write-data-container {
  height: 65%;
  /* background-color: rgb(208, 255, 0); */
  margin-top: 2%;
}
.Notice-write-data-class {
  margin: auto;
  width: 40%;
  height: 85%;
  /* background-color: brown; */
  border-radius: 15px 15px 15px 15px;
  border: 5px dotted blue;
  text-align: center;
}
.Notice-write-data-data1 {
  height: 33px;
  font-size: 15px;
  margin-bottom: 2%;
  /* background-color: #239115; */
}
.Notice-write-data-data2 {
  font-size: 13px;
  /* background-color: #e0c3c3; */
  height: 15%;
  width: 62%;
  display: flex;
  margin: auto;
  justify-content: space-around;
}
.Notice-write-data-data2text {
  /* background-color: aqua; */
  width: 35%;
  text-align: right;
  float: left;
}

.Notice-write-btn-container {
  width: 100%;
  height: 25%;
  /* background-color: #398588; */
}
.Notice-write-btn-class {
  width: 20%;
  height: 100%;
  margin: auto;
}

.Notice-write-footer-imageurl-container {
  /* background-color: #fb4d4e; */
  padding-left: 33%;
  padding-bottom: 3%;
}
