.Main-Button-class{
    cursor: pointer;
     background-color: rgba(0, 0, 0, 0);
     border-radius: 12px 12px 12px 12px;
     border: 5px solid rgb(243, 81, 81);
     margin-bottom: 5%;
     font-size: 1.5em;
     color: rgb(255, 255, 255);
     padding: 8%;
     
     

     
     
 
}
.Main-Button-class:hover{

    background-color: rgba(133, 28, 28, 0.158);
}